/* styles.css */

.game {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0; /* Background color for the entire game */
}

.game-board {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #862609; /* Background color for the board */
  border: 2px solid #100505; /* Border for the board */
  padding: 20px;
  border-radius: 10px;
}

.board-row {
  display: flex;
}

.square {
  font-size: 36px;
  font-weight: bold;
  width: 100px;
  height: 100px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #127732; /* Background color for each square */
  border: 1px solid #150101;
  color: #fff; /* Text color for X and O */
}

.square:hover {
  background-color:  #127732; /* Hover background color */
}

.status {
  margin-bottom: 10px;
  font-size: 24px;
}

.restart-button {
  font-size: 18px;
  padding: 10px 20px;
  background-color: #127732;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.restart-button:hover {
  background-color: #127732;
}
